Linkedin-form.json
{
  "name": "Linkedin-form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Content",
        "formDescription": "A LinkedIn Article Will be created based on your input",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic to generate LinkedIn rticle",
              "fieldType": "textarea",
              "placeholder": "Typel your topic in short",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        320,
        16
      ],
      "id": "b90c5cb8-4dc5-4ff3-a017-45fb24a89dcd",
      "name": "On form submission",
      "webhookId": "7ea7896c-fd37-4538-b57c-ae3898a7057f"
    },
    {
      "parameters": {
        "sendTo": "ranjansmruti2456@gmail.com",
        "subject": "Your Linkedin Content for today",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -80
      ],
      "id": "956d2100-f544-4934-b56d-333db27998d2",
      "name": "Send a message",
      "webhookId": "7cf35036-29c0-47e4-859d-f6799bccd327",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ZD5abK5ATSCGt62",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        240
      ],
      "id": "7fc9299f-1c8a-439c-8c62-801515782936",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ObnsUgLHiOCNrGMf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a highly experienced LinkedIn content strategist and social media engagement expert with a proven understanding of how viral posts are written, structured, and emotionally paced.\nWrite a high-impact LinkedIn post designed to maximize reach and engagement. The post must open with a strong hook in the first 1 to 3 lines that immediately captures attention by highlighting a relatable professional or personal problem. From there, organically build emotional and logical context, allowing the narrative to flow naturally without sounding scripted or overly polished.\nStructure the post in multiple short paragraphs, each no longer than 1 to 2 sentences. The progression should feel conversational and intuitive, not formulaic. Deliver clear, practical value or insight, then close with a compelling, conversation-driven call to action that invites readers to comment, reflect, or share their own experiences.\n\nThe content should read like it was written by a human; naturally, casually, and with a realistic thought process. It should beat every AI detection model on content generation. \n\nHere are the key goals: \n\nVary sentence structure. Use a mix of long and short sentences. Interrupt smooth flows occasionally, just enough to feel real, not robotic. Add subtle imperfections. \n\nSlight redundancy, hesitations (like \"perhaps\" or \"I think\"), or overly cautious qualifiers make it feel more human. Avoid perfect symmetry. Don’t balance every argument too neatly. Let some thoughts feel unfinished or tangential, like a real person thinking out loud. \n\nUse light personalization. Mention reactions, small experiences, or opinions, even invented ones, that a typical person might include. Introduce ambiguity or mild contradiction. Humans aren’t always consistent, a slight shift in tone or perspective adds realism. \n\nSkip slang or regionalisms. Keep the language neutral, but still natural. Focus on tone, pacing, and realism. Avoid using \"*\" character while generating Linkedin post.\n\nFormat naturally. Avoid overly rigid or textbook-like structure.\n\nHere is the content pillar to generate post from: {{ $json['Topic to generate LinkedIn rticle'] }}\n\nFinal output rules:\nGenerate only the final LinkedIn post in a ready-to-publish format. Do not include explanations, introductions, conclusions, citations, links, markdown, headings, symbols, brackets, asterisks, em dashes, or any text before or after the post. Output only the post itself. In the final LinkedIn post, make sure not to include the “—” character at any place.\n\nEnd the post with optional, relevant hashtags formatted cleanly and spaced properly. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        544,
        16
      ],
      "id": "34615fd1-0c93-4094-97e8-9b3fb8dba6d6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "9e35bb7f-e290-4477-b7bd-1e0c1207aa31",
      "name": "Create LinkedIn Post",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        896,
        112
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "DTtsHrnPeZLhNlkX",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a2596e49-6505-40e6-a1d0-984949f8c2f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63e9ce0254271fe379d33c030a575803a8a2df6feaa030a2068b9e2ac502c3ab"
  },
  "nodeGroups": [],
  "id": "CzBvtq7iJ4wr8QUu",
  "tags": []
}